morphingBody {
    /* top: 100px;
    left: 0px; */
    margin: 0;
    padding: 0;
    /* position: relative; */
    background-color: #FFF;
    touch-action: none;
    place-content: center;
    z-index: -1000;
}


@import url(https://rsms.me/inter/inter-ui.css);*{box-sizing:border-box}body{margin:0;padding:0;box-sizing:border-box}body,input,label{font-family:'Inter UI',sans-serif;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-size:14px}
/* .logo{margin-bottom:25px;top:-120px;left: 5px;position: relative;;z-index: 1} */
.logo{margin-bottom:25px;top:80px;left: 8px;position: relative;;z-index: 1}

body {
    font-family:
    -apple-system
    /* -apple-system-tall-body */
    , BlinkMacSystemFont, sans-serif;
}

.main{min-width:250px;max-width:900px;margin:200 auto;padding:100px 28px 28px 28px}
.narrow{max-width:570px;margin:0 auto}
.left,.right{flex:1;width:510px;flex-shrink:0;display:flex}
.left{justify-content:flex-end}
.right{position:relative}
/* p{font-size:18px;color:#6b737b;line-height:28px;margin:-4px 0} */

.h2{font-size:24px;font-weight: bold;color:#6b737b;line-height:28px;margin:20px 0}
.h3{color:#383c43;font-weight:600}
.h4{font-size:14px;color:#383c43;font-weight:600;line-height:18px;}
.h5{font-size:12px;color:#6b737b;margin:-15px 0}
.h6{font-size:12px;color:#6b737b;margin:0px 0;line-height:16px}


#header {
    height: 150px;
    display: inline-block;
}
#header:hover {
    content: url('./assets/headers/lujialin_photo_2017.jpg');
    height: 70px;
    width: 120px;
}

.h2{color:#383c43;font-weight:800}
.section {justify-content:center}

.cards{padding:0px 0;display:flex;flex-wrap:wrap;justify-content:center}
.card{background-size:100%;width:250px;height:290px;color:#fff;border-radius:10px;box-shadow:0 4px 7px rgba(0,0,0,.2);text-decoration:none;padding:8px;margin:8px;box-sizing:border-box;display:flex;flex-direction:column;background-size:100%;transition:all .2s ease;filter:grayscale(30%)}
.small_card{background-size:100%;width:180px;height:90px;color:#fff;border-radius:10px;box-shadow:0 4px 7px rgba(0,0,0,.2);text-decoration:none;padding:12px;margin:18px;box-sizing:border-box;display:flex;flex-direction:column;background-size:100%;transition:all .2s ease;filter:grayscale(80%)}
.tiny_card{background-size:100%;height:40px;color:#fff;border-radius:10px;box-shadow:0 4px 7px rgba(0,0,0,.2);text-decoration:none;padding:12px;margin:6px;box-sizing:border-box;display:flex;flex-direction:column;background-size:100%;transition:all .2s ease;filter:grayscale(80%)}
.card:hover{box-shadow:0 10px 31px rgba(0,0,0,.15);transform:scale(1.05);filter:grayscale(0%)}
.small_card:hover{box-shadow:0 10px 31px rgba(0,0,0,.15);transform:scale(1.05);filter:grayscale(0%)}
.tiny_card:hover{box-shadow:0 10px 31px rgba(0,0,0,.15);transform:scale(1.05);filter:grayscale(0%)}
.card.frontend{background-image:url(/images/39a35dad66307c0f46f8f692c4327df97273344c/frontend.png)}
.card.backend{background-image:url(/images/984db7ae5ecf983229d80330bef41c55bb0a3a1e/backend.png)}
.card.design{background-image:url(/images/3eab56c688daa2de602def099629099d27fc7834/designer.png)}
.card.content_creator{background-image:url(/images/6890667588994ac88aa8f4c66ffae28872b67422/content_creator.png)}.card.marketing{background-image:url(/images/161ecf7b8888447f2136d2ecda6f3f5587bed3f6/marketing.png)}
.button{background:#fff;color:#24252a;border-radius:5px;display:block;font-size:16px;font-weight:600;text-align:center;padding:10px 0}
.button{background:#fff;color:#24252a;border-radius:5px;display:block;font-size:16px;font-weight:600;text-align:center;padding:10px 0}
.button.solo{border:1px rgba(0,0,0,.08) solid;box-shadow:0 4px 7px rgba(0,0,0,.2);display:block;margin:0 2em;text-align:center;text-decoration:none;user-select:none}
.button.solo:hover{background-color:#383c43;border-color:#383c43;color:#fff}
.card .title{font-size:25px;line-height:1.3;font-weight:bold;flex:1;padding-top:12px;padding-left:12px;}.pin{display:inline-block;width:10px;height:12px;background-image:url(/303ed30636177095386c7aa89c41f6a5d6917e44/95ae5/images/pin.svg);margin-right:3px}

.small_card .title{font-size:12px;line-height:1.3;font-weight:bold;flex:1;padding-top:0px;}.pin{display:inline-block;width:10px;height:12px;background-image:url(/303ed30636177095386c7aa89c41f6a5d6917e44/95ae5/images/pin.svg);margin-right:3px}

.tiny_card .title{font-size:12px;line-height:1;font-weight:bold;flex:1;padding-top:2px}.pin{display:inline-block;width:10px;height:12px;background-image:url(/303ed30636177095386c7aa89c41f6a5d6917e44/95ae5/images/pin.svg);margin-right:3px}


.imprint,.imprint a{font-size:12px;color:#6b737b}
.imprint a{margin-left:10px}
.cookie_banner{position:absolute;top:0;right:0;left:0;padding:15px;border-bottom:1px solid #e4e4e4}
.newsletter{color:#78787f;position:fixed;bottom:40px;right:40px;width:420px;background:#fff;box-shadow:0 5px 15px 0 rgba(0,0,0,.1),0 15px 35px 0 rgba(0,0,0,.1);border-radius:5px;padding:15px;-moz-animation:alert 2s;-webkit-animation:alert 2s;animation:alert 2s;transition:all .2s}
.flex{display:flex;align-items:center}
.flex :first-child{flex:1;padding-right:15px}
.newsletter-fields{display:flex;position:relative}
.close{cursor:pointer;text-decoration:none;color:rgba(0,0,0,.2)}
.hidden{transform:translateY(40px);opacity:0}
label{font-weight:700;display:block;font-size:18px;color:#383c43}
.newsletter .flex{margin-bottom:14px}.newsletter .button{background:#2b96f1;border-radius:3px;border:0;color:#fff}
.newsletter-social{font-size:14px;margin:0;margin-bottom:8px;font-weight:200}
.email{flex:1;border:1px solid #e4e4e4;border-radius:3px}
.submit{background-color:#f0f0f0;border:1px solid #f0f0f0;padding:0 30px;margin-left:14px;font-size:14px;cursor:pointer}
input{padding:10px 14px;font-size:14px;border:0;outline:0;margin:0;-webkit-appearance:none;transition:all .4s ease}
input:focus{border-color:#2b96f1}@-webkit-keyframes alert{0%{opacity:0;transform:translateY(40px)}80%{opacity:0;transform:translateY(40px)}100%{opacity:1;transform:translateY(0)}}@keyframes alert{0%{opacity:0;transform:translateY(40px)}80%{opacity:0;transform:translateY(40px)}100%{opacity:1;transform:translateY(0)}}
.social{text-decoration:none;font-size:14px;font-weight:600;color:#383c43}
.social-icon{margin-right:0px;transform:translateY(3px);width:15px;height:15px}
@media(max-width:600px){.main{width:100%;padding-top:28px}.cookie_banner{position:static}}
@media(max-width:750px){.newsletter{position:relative;display:block;right:0;bottom:0;width:80%;margin:50px auto;-moz-animation:none;-webkit-animation:none;animation:none}
.newsletter .close{display:none}}
#presentation-link{margin-bottom:2em}
